/*Minecraft CSS Setup*/
@font-face {
  font-family: 'Minecraft';
  src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot');
  src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot?#iefix') format('embedded-opentype'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.woff') format('woff'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.ttf')  format('truetype'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.svg#svgFontName') format('svg');
}

/*Whole Page*/
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0);
}

/*Map*/
#smp_map {
  height: 100%;
  width: 80%;
  float: right;
  border: none;
}

/*Sidebar*/
#sidebar {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
}

/*Main sidebar buttons*/
button.minecraft_buttons {
  width: 100%;
  outline: 2px solid black;
  margin: 0;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
  background-repeat: repeat;
  padding: 0;
  font-family: Minecraft;
  text-align: center;
  font-size: 2vw;
  color: white;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
}
button.minecraft_buttons:hover {
  border-bottom: 4px solid #59639A;
  border-right: 2px solid #59639A;
  border-left: 2px solid #BDC6FF;
  border-top: 2px solid #BDC6FF;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
  color: #FFFFA0;
}
button.active_minecraft_button {
  border-bottom: 4px solid #59639A;
  border-right: 2px solid #59639A;
  border-left: 2px solid #BDC6FF;
  border-top: 2px solid #BDC6FF;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
  color: #FFFFA0;
}

/*Panels*/
div.panel {
  width: 100%;               
  display: none;
  background-color: white;
  overflow: hidden;
}

/*SMP Buttons*/
button.smp_buttons {
  font-size: 1.5vw;
}
div.smp_left_panel, div.smp_right_panel {
  width: 50%;
}
div.smp_left_panel {
  float: left;
}
div.smp_right_panel {
  float: right;
}

